body {
	background-image: url("/static/images/ez-web-background.png");
}

h1 {
	color: red;
}

.container {
	margin-top: 150px;
	margin-left: 500px;
	height: 400px;
	width: 300px;
	background: #67fc8c;
	text-align: center;
}

.button {
	background-color: #1aad30;
	border: none;
	width: 200px;
	color: white;
	padding: 15px 32px;
	display: inline-block;
    font-size: 16px;
    margin: 300px 2px;
    cursor: pointer;
}